*.suo
*.user
*.cachefile
/MegaActionBattleQuest/MegaActionBattleQuest/bin
/MegaActionBattleQuest/MegaActionBattleQuest/obj
/MegaActionBattleQuest/MegaActionBattleQuestContent/bin
/MegaActionBattleQuest/MegaActionBattleQuestContent/obj